/* Site Containers
--------------------------------------------- */

/* header containers are in the header partial */

.site-inner {
	clear: both;
	padding-top: 40px;
	padding-top: 4rem;
	@include outer-container;
}
