
// Typography
	$sans-serif: 'Montserrat', sans-serif; // Check for fonts imported from Google fonts in the functions.php file.
	$serif: 'Open Sans', serif;
	$mono: "Courier 10 Pitch", Courier, monospace;	
	$callout: "Verdana";

// Colors
	$brand-primary: #3d6884; // blue
	$brand-secondary: #db3b09; // orange
	$black: #000;
	$gray-dark: #333;
	$gray-medium: #666;
	$gray-mediumer: #999;
	$gray-light: #ddd;
	$white: #fff;
	$white-off: #f5f5f5;
	$red-light: #fbe3e4;
	$orange: #f15123;
	$yellow-light: #fff6bf;
	$green-light: #e6efc2;
	
// Background Color
	$color-background: $brand-primary;
	$color-background-dark: $gray-dark;
	$color-background-light: $gray-light;
	$color-background-button-dark: $gray-dark;
	$color-background-button-light: $gray-light;

// Font Colors
	$color-text: $gray-dark;
	$color-text-dark: $gray-dark;
	$color-text-light: $gray-light;
	$color-text-accent: $brand-primary;

// Link Colors
	$color-link: $color-text-accent;
	$color-link-hover: darken($color-text-accent, 15);
	$color-button-link-color: $color-link;
	$color-button-link-hover: $color-link-hover;

// Alert Colors
	$color-alert: $yellow-light;
	$color-error: $red-light;
	$color-notice: lighten($color-text-accent, 40);
	$color-success: $green-light;

// Border color
	$color-border-light: $gray-light;
	$color-border-dark: $gray-dark;	

// Header font sizes
	$h1-font-size: rem-calc(44);
	$h2-font-size: rem-calc(37);
	$h3-font-size: rem-calc(27);
	$h4-font-size: rem-calc(23);
	$h5-font-size: rem-calc(18);
	$h6-font-size: 1rem;

// Header styles
	$site-description-font-family:'Lato', serif;
	$header-font-family: $sans-serif;
	$header-font-secondary: $serif;
	$header-font-weight: 700;
	$header-font-weight-lighter: 200;
	$header-font-style: normal;
	$header-font-color: $black;
	$header-line-height: 1.5;
	$header-margin: .2rem 0 .5rem 0;
	$header-text-rendering: optimizeLegibility;
	
// Paddings & Margins
	$nav-padding: 20px 16px;
	$nav-sub-padding: 16px 20px;
	$nav-sub-sub-margin: -55px 0 0 0;
	
// line-heights:
	$one:1;
	$one-and-half:1.5;
	$two:2;
	$two-and-half:2.5;
	$three:3;
	
 




